{% extends 'base.html.twig' %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}
{% block body %}
    <div class="actualite">
        <h1>ACTUALITÉS</h1>
    </div>
{% endblock %}
{% block footer %}{% include 'footer.html.twig' %}{% endblock %}