
<footer>
    <div class="reseau foot">
    <span>SUIVEZ NOUS :</span>
        <a href="https://www.facebook.com/ALKATRAZLeJeu/" target="_blank"><img src="{{ asset('images/facebook.png') }}" alt="fb" class="rs"></a>
        <a href="https://twitter.com/LeAlkatraz" target="_blank"><img src="{{ asset('images/twitter.png') }}" alt="twitter" class="rs"></a>
        <a href="https://www.instagram.com/alkatraz_lejeu/" target="_blank"><img src="{{ asset('images/insta.png') }}" alt="insta" class="rs"></a>
        <span class="deco"><a href="{{ path('security_logout')}}"> DECONNEXION</a></span>
    </div>

</footer>

